{{!-- <article>
  <a class="btn btn-primary" href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Post Title
  </h2>
  <form class="edit-post-form">
    <div>
      <input name="post-title" type="text" class="form-control" value="{{post.title}}" />
    </div>
     by you on {{format_date post.created_at}}
    <div class="mb-3">
      |
      <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
    </div>
  <div class="mb-3">
    <button type="submit" class="btn btn-primary">save post</button>
    <button type="button" class="delete-post-btn btn btn-primary">delete post</button>
  </div>
  </form>
</article> --}}

<form class="edit-post-form">
    <div class="mb-3">
      <label for="post-title" class="form-label"><h6>Title</h6></label>
      <input type="text" class="form-control" id="post-title" name="post-title" value="{{post.title}}" />
    </div>
    <div class="mb-3">
      <label for="post-content" class="form-label"><h6>Text</h6></label>
      <input id="post-content" class="form-control" rows="3" name="post-content" value="{{post.post_content}}"/>
        by you on {{format_date post.created_at}}
    </div>
    <div class="mb-3">
    <button type="submit" class="btn btn-primary">save post</button>
    <button type="button" class="delete-post-btn btn btn-primary">delete post</button>
  </div>
  </form>






<form class="comment-form mb-3">
  <div class="mb-3">
    <h3>Add comment</h3>
    <textarea name="comment-body" class="form-control"></textarea>
  </div>

  <div>
    <button type="submit" class="btn btn-primary">save comment</button>
  </div>
</form>

{{> comments post.comments}}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>